@import "./common";
@import "./variables";


.app-body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.container {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}

.loading-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  background-color: green;

  .loading-msg {
    font-size: 80px;
    font-weight: bold;
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    position: absolute;
    color: white;
  }
}


.side-menu {
  width: 30%;
  height: 100vh;
  padding: 40px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}


.main-app {
  display: block;
  background-color: #cc2b23;
  //background-color: green;
  color: white;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /*left: 30%;*/
}

.list-element {
  padding: 5px;
  display: inline-block;
  font-family: "PT Sans", sans-serif;
  margin-right: 20px;
  font-size: 20px;
}

.links-pages,
.links-socials {
  width: 100%;
  display: block;
}

.list-slider {
  display: block;
  padding: 90px 0;

  li {
    display: list-item;
    font-size: 60px;
    font-weight: bold;
  }

}

.content {
  position: relative;
  height: 100vh;
}

.app-header {
  position: absolute;
  top: 0;
  left: 0;
}

.logo-content {
  margin: 30px 40px;
  width: 150px;
  height: 200px;
  position: relative;
}

.text {
  position: absolute;
  z-index: 20;
  top: 28px;
  left: 13px;

  span {
    text-transform: uppercase;
    font-size: 10px;
    font-family: "PT Sans", sans-serif;
    letter-spacing: 1px;
    margin-bottom: 2px;
    font-weight: bold;
    display: block;
    width: 100%;
  }
}

.letter {
  position: absolute;
  z-index: 10;
  top: -35px;
  left: 0;
  font-size: 120px;
  transform: scale(1.3, 1.1);
  color: rgba(255, 255, 255, .35);
}

.copyright,
.contact {
  position: absolute;
  font-weight: 100;
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  padding: 30px;
}

.copyright {
  z-index: 20;
  bottom: 0;
  left: 0;
}

.contact {
  z-index: 20;
  bottom: 0;
  right: 0;
}

.app-navbar {
  display: block;
  padding: 30px 0;
  z-index: 20;
  position: absolute;
  top: 0;
  right: 0;

  li {
    display: inline-block;
    margin-right: 30px;
  }

  .main-menu-item {
    font-family: "PT Sans", sans-serif;
    font-size: 15px;
    text-decoration: none;
    color: white;
    cursor: pointer;

    &.menu-btn {
      &::before {
        margin-right: 5px;
        content: "☰";
      }
    }

  }

}

.slider {
  width: 100%;
  overflow: hidden;

  &::after {
    clear: both;
  }

  .left,
  .right {
    display: block;
    width: 25%;
    height: 100vh;
    float: left;
    position: relative;
    overflow: hidden;
  }

  .left {

    .slider-text {
      color: rgba(255, 255, 255, .45);
      right: 10%;
      text-align: right;
    }
  }

  .right {

    .slider-text {
      color: rgba(255, 255, 255, .45);
      left: 10%;
      text-align: left;
    }
  }

  .center {
    width: 50%;
    float: left;
    height: 100vh;
    overflow: hidden;

    .slider-text {
      width: 50%;
      text-align: center;
      text-shadow: 2px 2px 5px rgba(10, 9, 9, .4);
    }
  }

  .slider-text {
    color: white;
    font-size: 100px;
    width: 900px;
    font-weight: bold;
    display: inline-block;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
  }
}

.img-background {
  display: block;
  margin: 0 auto;
  height: 100vh;
  width: auto;
}

.filter-text {
  //font-size: 1350px;
  font-size: 850px;
  transform: translateY(778px) translateX(160px);
  font-weight: bold;
  //transform: translateY(948px) translateX(0);
}


