@import "./common";
@import "./variables";
@import "./mixins";
@import "utils/material-shadows";
@import "./animations";
@import "./sections";
@import "./welcome-section";


.loading-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  background-color: green;

  .loading-msg {
    font-size: 80px;
    font-weight: bold;
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    position: absolute;
    color: white;
  }
}


.main-app {

  display: block;
  background-color: green;
  color: white;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: $menu-width-small;

  @media screen {
    @media (min-width: $media-br-1) {

      left: $menu-width;
    }
  }




}


.list-element {
  padding: 5px;
  display: inline-block;
  font-family: "PT Sans", sans-serif;
  margin-right: 20px;
  font-size: 20px;

  &.hide-menu {
    font-size: 80px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-22%) translateX(42%);
    color: green;

    &::before {
      display: block;
      position: absolute;
      top: 42%;
      left: 55%;
      color: white;
      //transform: translateY(-25%) translateX(30%);
      font-size: 15px;
      content: "✕";
    }

  }

}

.links-pages,
.links-socials {
  width: 100%;
  display: block;
}

.list-slider {
  display: block;
  padding: 90px 0;
  list-style-type: none;

  .page-link {
    display: list-item;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;

    @media screen {
      @media (min-width: $media-br-1) {
        font-size: 60px;
      }
    }

    &:hover {
      color: green;
    }
  }

}


.copyright,
.contact {
  position: absolute;
  font-weight: 100;
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  padding: 30px;
}

.copyright {
  z-index: 20;
  bottom: 0;
  left: 0;
}

.contact {
  z-index: 20;
  bottom: 0;
  right: 0;
}

.app-navbar {
  display: block;
  padding: 30px 0;
  z-index: 20;
  position: absolute;
  top: 0;
  right: 0;

  li {
    display: inline-block;
    margin-right: 30px;
  }

  .main-menu-item {
    font-family: "PT Sans", sans-serif;
    font-size: 15px;
    text-decoration: none;
    color: white;
    cursor: pointer;

    &.menu-btn {
      &::before {
        margin-right: 5px;
        content: "☰";
      }
    }

  }

}

.slider {
  width: 100%;
  overflow: hidden;

  &::after {
    clear: both;
  }

  .left {

    display: none;
    height: 100vh;
    float: left;
    position: relative;
    overflow: hidden;

    @media screen {
      @media (min-width: $media-br-2) {
        display: block;
        width: 25%;
      }
    }

    .slider-text {
      color: rgba(255, 255, 255, .45);
      right: 10%;
      text-align: right;
      font-size: 100px;
      width: 900px;
      font-weight: bold;
      display: inline-block;
      top: 40%;
      transform: translateY(-50%);
      transform-origin: 0 0;
      position: absolute;
    }
  }

  .right {

    display: none;
    height: 100vh;
    float: left;
    position: relative;
    overflow: hidden;

    @media screen {
      @media (min-width: $media-br-2) {
        display: block;
        width: 25%;
      }
    }


    .slider-text {
      font-size: 100px;
      width: 900px;
      font-weight: bold;
      display: inline-block;
      top: 40%;
      color: rgba(255, 255, 255, .45);
      left: 10%;
      text-align: left;
      transform: translateY(-50%);
      transform-origin: 0 0;
      position: absolute;
    }
  }

  .center {
    width: 100%;
    float: left;
    height: 100vh;
    overflow: hidden;

    @media screen {
      @media (min-width: $media-br-2) {
        width: 50%;
      }
    }

    .slider-text {
      color: white;
      font-size: 35px;
      width: 100vw;
      font-weight: bold;
      display: inline-block;
      top: 40%;
      text-align: center;
      text-shadow: 2px 2px 5px rgba(10, 9, 9, .4);
      transform: translateY(-50%);
      transform-origin: 0 0;
      z-index: 400;
      position: absolute;

      @media screen {
        @media (min-width: $media-br-1) {
          font-size: 100px;
          width: 900px;
        }
      }
    }

  }

  .description-text {
    @include font-pt-sans;
    z-index: 350;
    position: absolute;
    text-align: center;
    top: 55%;
    left: 10%;
    height: 30%;

    font-size: 15px;
    letter-spacing: 1px;
    width: 80%;
    padding: 20px;
    line-height: 150%;
    background-color: rgba(9, 14, 9, .4);


    @media screen {
      @media (min-width: $media-br-1) {
        text-align: justify;
        left: 50%;
        max-width: 350px;
        height: auto;
      }
    }


    .text-dsc {
      display: inline-block;
      width: 100%;
    }

    .link-dsc {

      &:after {
        margin-left: 5px;
        content: '>>';
      }

      width: 100%;
      text-align: right;
      display: inline-block;
      text-decoration: underline;
      cursor: pointer;
    }

  }

}
