<!DOCTYPE html>
<html>
<head>
    <title>kalafior.site</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    <script defer src="{{url_for('static', filename='/admin/app.ec529e5777b872c92043.js')}}"></script>
    <link href="{{url_for('static', filename='/admin/style.css')}}" rel="stylesheet">
</head>
<body class="app-body">
{% if user_data['logged_in'] and user_data['login'] %}
<main class="app-main">

    <div class="small-bar">
        <div class="info name"><span>{{ user_data['login'] }}</span></div>
        <div class="info logout"><a href="{{url_for('admin',page=page, logout='ok')}}">wyloguj</a></div>
    </div>

    <nav class="navbar">
        <div class="img-wrapper">
            <img class="logo" src="{{url_for('static', filename='/admin/assets/logo_5f1067b0cf21e381dcb8.jpg')}}"
                 alt="logo">
        </div>
        <ul class="app-menu">

            {% for section in sections: %}
            <li class="menu-item"><a href="/admin/{{section['id']}}" class="link">{{ section['title'] }}</a></li>
            {% endfor %}

        </ul>
    </nav>

    {% if mode == 'edit' or mode =='new' %}

        {% block edit_from %}
        {% endblock %}

    {% elif mode == 'list' %}

    <div class="list-container">

        {% block page_title %}
        {% endblock %}

        {%block list %}
        {% endblock %}

    </div>

    {% endif %}

</main>
{% endif %}
</body>
</html>