{% extends "admin/base.html" %}

{% block page_title %}
<h2 class="section-title">
    <span class="title">Gry projekty</span>
    <span class="subtitle">lista projektów - gier</span>
</h2>
<div class="btn-wrapper">
    <a href="{{url_for('admin',page=page, mode='new')}}" class="button green">+ Dodaj nową grę</a>
</div>

{% endblock %}

{% block edit_from %}
<div class="form-container">
    <form action="/admin/games" method="post" class="app-form login">
        <p class="form-title">Edycja/dodawanie nowej gry</p>
        <div class="form-inside-container">

            <input type="hidden" value="games_form" id="games_form" name="form_type" style="display: none">
            <input type="hidden" value="{{mode}}" name="edit_mode" style="display: none">
            <label for="id" class="form-label">Id gry:</label>
            <input type="text" id="id" name="id" value="{{ page_content['id'] }}" class="form-input" {% if mode=='edit' %} readonly {% endif %}>

            <label for="name" class="form-label">Nazwa:</label>
            <input type="text" id="name" name="name" value="{{page_content['name']}}" class="form-input">

            <label for="description" class="form-label">Opis:</label>
            <textarea id="description" name="description" class="form-input"
                      rows="4">{{page_content['description']}}</textarea>

            <label for="link" class="form-label">Link do gry/projektu:</label>
            <input type="text" id="link" name="link" value="{{page_content['link']}}" class="form-input">


            <div class="button-wrapper">
                <input type="submit" value="Zapisz" class="button white">
            </div>
        </div>
    </form>
</div>
{% endblock %}


{%block list %}

{% if page_content and page_content|length >0 %}

{% for content in page_content: %}

<div class="list-element">
    <div class="element-content">
        <div>
            <div>
                <div class="row">
                    <label class="elem-label">Id elementu:</label><span class="elem-value">{{content['id']}}</span>
                </div>
                <div class="row">
                    <label class="elem-label">Nazwa:</label><span class="elem-value">{{content['name']}}</span>
                </div>
                <div class="row">
                    <label class="elem-label">Opis:</label><span class="elem-value">{{content['description']}}</span>
                </div>
                <div class="row">
                    <label class="elem-label">Link:</label><a class="elem-value link" href="{{content['link']}}"
                                                              target="_blank">{{content['link']}}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="element-btn-wrapper">
        <a href="{{url_for('admin',page=page, mode='edit',  id_elem=content['id'])}}"
           class="button white">Edytuj</a>
        <button class="button red" data-btn-type="remove-btn" data-btn-action="remove"
                data-id="{{content['id']}}">Usuń
        </button>
    </div>
</div>
{% endfor %}

{% endif %}

{% endblock %}