{% extends "admin/base.html" %}

{% block page_title %}
<h2 class="section-title">
    <span class="title">Gry projekty</span>
    <span class="subtitle">lista projektów - gier</span>
</h2>
<div class="btn-wrapper">
    <a href="{{url_for('admin',page=page, mode='new')}}" class="button green">+ Dodaj nową grę</a>
</div>

{% endblock %}

{% block edit_from %}
<div class="form-container">
    <form action="/admin/python" method="post" class="app-form login">
        <p class="form-title">Edycja/dodawanie nowej gry</p>
        <div class="form-inside-container">

            <input type="hidden" value="games_form" id="games_form" name="form_type" style="display: none">
            <label for="id" class="form-label">Id gry:</label>
            <input type="text" id="id" name="id" value="" class="form-input">

            <label for="name" class="form-label">Nazwa:</label>
            <input type="text" id="name" name="name" value="" class="form-input">

            <label for="description" class="form-label">Opis:</label>
            <textarea id="description" name="description" class="form-input" rows="4"></textarea>

            <label for="link" class="form-label">Link do gry/projektu:</label>
            <input type="text" id="link" name="link" value="" class="form-input">


            <div class="button-wrapper">
                <input type="submit" value="Zapisz" class="button white">
            </div>
        </div>
    </form>
</div>
{% endblock %}