{% extends "admin/base.html" %}
{% import 'admin/macros.html' as macros %}

{% block page_title %}
<h2 class="section-title">
    <span class="title">Python projekty</span>
    <span class="subtitle">lista projektów pythonowych</span>
</h2>
<div class="btn-wrapper">
    <a href="{{url_for('admin',page=page, mode='new')}}" class="button green">+ Dodaj nowy projekt</a>
</div>

{% endblock %}


{% block edit_from %}
<div class="form-container">
    <form action="/admin/python" method="post" enctype="multipart/form-data" class="app-form login">
        <p class="form-title">Edycja/dodawanie nowego projektu python</p>
        <div class="form-inside-container">

            <input type="hidden" value="python_form" id="python_form" name="form_type" style="display: none">
            <label for="id" class="form-label">Id projektu:</label>
            <input type="text" id="id" name="id" value="" class="form-input">

            <label for="name" class="form-label">Nazwa:</label>
            <input type="text" id="name" name="name" value="" class="form-input">

            <label for="description" class="form-label">Opis projektu:</label>
            <textarea id="description" name="description" class="form-input" rows="4"></textarea>

            <div class="image-uploader">
                <label for="btn-upload" class="form-label">Dodaj obrazek:</label>
                <img src="{{url_for('static', filename='/admin/assets/logo_5f1067b0cf21e381dcb8.jpg')}}" class="uploaded-image hide">
                <input type="file" name="file" style="display: none" class="input-file">
                <input type="button" id="btn-upload" class="small-button" value="wczytaj plik">
            </div>

            <label for="tags" class="form-label">Tagi</label>
            <input type="text" id="tags" name="tags" value="" class="form-input">

            <div class="button-wrapper">
                <input type="submit" value="Zapisz" class="button white">
            </div>
        </div>
    </form>
</div>
{% endblock %}
