{% extends "admin/base.html" %}
{% import 'admin/macros.html' as macros %}

{% block page_title %}
<h2 class="section-title">
    <span class="title">Sekcje strony głównej</span>
    <span class="subtitle">lista sekcji strony głównej</span>
</h2>
<div class="btn-wrapper">
    <a href="{{url_for('admin',page=page, mode='new')}}" class="button green">+ Dodaj nową sekcję</a>
</div>

{% endblock %}


{% block edit_from %}
<div class="form-container">
    <form action="/admin/sections" method="post" class="app-form login">
        <p class="form-title">Edycja/dodawanie nowej sekcji</p>
        <div class="form-inside-container">

            <input type="hidden" value="sections_form" id="sections_form" name="form_type" style="display: none">
            <label for="id" class="form-label">Id sekcji:</label>
            <input type="text" id="id" name="id" value="" class="form-input">

            <label for="short_name" class="form-label">Skrócona nazwa:</label>
            <input type="text" id="short_name" name="short_name" value="" class="form-input">

            <label for="long_name" class="form-label">Pełna nazwa:</label>
            <input type="text" id="long_name" name="long_name" value="" class="form-input">

            <label class="form-label">&nbsp;</label>
            <div class="checkbox-wrapper">
                <label for="show_on_slide" class="checkbox-label">Pokazuj sekcję na sliderze</label>
                <input type="checkbox" id="show_on_slide" name="show_on_slide" value="" class="form-checkbox">
            </div>

            <label class="form-label">&nbsp;</label>
            <div class="checkbox-wrapper">
                <label for="show_on_menu" class="checkbox-label">Pokazuj sekcję na menu głównym</label>
                <input type="checkbox" id="show_on_menu" name="show_on_menu" value="" class="form-checkbox">
            </div>

            <div>
                <label for="fill-options" class="form-label">Wypełnienie sekcji:</label>
                <select name="fill-options" id="fill-options" class="form-input">
                    <option value="none" selected>brak</option>
                    <option value="collection">kolekcja elementów</option>
                    <option value="fragment_html">fragment HTML</option>
                </select>
            </div>

            <div class="hide">
                <label for="collection-options" class="form-label">Wybór kolekcji:</label>
                <select name="collection-options" id="collection-options" class="form-input">
                    <option value="python" selected>projekty python</option>
                    <option value="games">kolekcja gier</option>
                </select>
            </div>


            <div class="hide">
                <label for="page-options" class="form-label">Wybór fragmentu HTML:</label>
                <select name="page-options" id="page-options" class="form-input">
                    <option value="fragment_1" selected>nazwa fragmentu 1</option>
                    <option value="fragment_2">nazwa fragmentu 2</option>
                </select>
            </div>


            <label for="description" class="form-label">Opis sekcji</label>
            <textarea id="description" name="description" rows=4 class="form-input"></textarea>

            <div class="button-wrapper">
                <input type="submit" value="Zapisz" class="button white">
            </div>
        </div>
    </form>
</div>
{% endblock %}