{% extends "admin/base.html" %}
{% import 'admin/macros.html' as macros %}

{% block page_title %}
<h2 class="section-title">
    <span class="title">Sekcje strony głównej</span>
    <span class="subtitle">lista sekcji strony głównej</span>
</h2>
<div class="btn-wrapper">
    <a href="{{url_for('admin',page=page, mode='new')}}" class="button green">+ Dodaj nową sekcję</a>
</div>

{% endblock %}


{% block edit_from %}
<div class="form-container">
    <form action="/admin/sections" method="post" class="app-form login">
        <p class="form-title">Edycja/dodawanie nowej sekcji</p>
        <div class="form-inside-container">
            <input id="csrf_token" name="csrf_token" type="hidden" value="{{csrf_token()}}">
            <input type="hidden" value="sections_form" id="sections_form" name="form_type" style="display: none">
            <input type="hidden" value="{{mode}}" name="edit_mode" style="display: none">
            <label for="id" class="form-label">Id sekcji:</label>
            <input type="text" id="id" name="id" value="{{ page_content['id'] }}" class="form-input" {% if mode=='edit' %} readonly {% endif %}>

            <label for="short_name" class="form-label">Skrócona nazwa:</label>
            <input type="text" id="short_name" name="short_name" value="{{page_content['short_name']}}"
                   class="form-input">

            <label for="long_name" class="form-label">Pełna nazwa:</label>
            <input type="text" id="long_name" name="long_name" value="{{page_content['long_name']}}" class="form-input">

            {{macros.create_check_box('show_on_slide', page_content['show_on_slide'], 'Pokazuj sekcję na sliderze')}}

            {{macros.create_check_box('show_on_menu', page_content['show_on_menu'], 'Pokazuj sekcję na menu głównym')}}

            <div class="selections">

                    <div data-type="fill_selection">
                        {{ macros.create_dropdown_list(page_content['fill_options'],fill_types,'fill_options', 'Wypełnienie sekcji:') }}
                    </div>

                    <div class="hide"  data-type="HTML_part">
                          {{ macros.create_dropdown_list(page_content['html_options'],html_parts_names,'html_options', 'Wybór fragmentu HTML:') }}
                    </div>


                    <div class="hide" data-type="Collection">
                         {{ macros.create_dropdown_list(page_content['collection_options'],collection_names,'collection_options', 'Wybór kolekcji:') }}
                    </div>
            </div>


            <label for="description" class="form-label">Opis sekcji</label>
            <textarea id="description" name="description" rows=4
                      class="form-input">{{page_content['description']}}</textarea>

            <div class="button-wrapper">
                <input type="submit" value="Zapisz" class="button white">
            </div>
        </div>
    </form>
</div>
{% endblock %}


{%block list %}

{% if page_content and page_content|length > 0 %}

    {% for content in page_content: %}

        <div class="list-element">
            <div class="element-content">
                <div>
                    <div>
                        <div class="row">
                            <label class="elem-label">Id elementu:</label><span class="elem-value">{{content['id']}}</span>
                        </div>
                        <div class="row">
                            <label class="elem-label">Skrócona nazwa:</label><span class="elem-value">{{content['short_name']}}</span>
                        </div>

                        <div class="row">
                            <label class="elem-label">Pełna nazwa:</label><span class="elem-value">{{content['long_name']}}</span>
                        </div>

                        {{ macros.row_value('Pokazuj na sliderze:', content['show_on_slide']) }}

                        {{ macros.row_value('Pokazuj w menu:', content['show_on_menu']) }}

                        {{ macros.create_field_from_list('Sposób wypełniania podstrony:', content['fill_options'], fill_types) }}

                        {{ macros.row_value('Id elementu html:', content['html_options']) }}

                        {{ macros.row_value('Id kolekcji:', content['collection_options']) }}

                        <div class="row">
                            <label class="elem-label">Opis:</label><span class="elem-value">{{content['description']}}</span>
                        </div>

                    </div>
                </div>
            </div>
            <div class="element-btn-wrapper">
                <a href="{{url_for('admin',page=page, mode='edit',  id_elem=content['id'])}}"
                   class="button white">Edytuj</a>
                <button class="button red" data-btn-type="remove-btn" data-btn-action="remove"
                            data-id="{{content['id']}}">Usuń</button>
            </div>
        </div>

    {% endfor %}

{% endif %}

{% endblock %}