@import "./utils/material-shadows";
@import "./common";
@import "./variables";
@import "./mixins";

.app-body {
  background-color: #c5dec5;
  position: relative;
}

.app-wrapper {
  padding: 20px 0;
}

.info-wrapper {
  display: none;
  position: absolute;
  background-color: rgba(134, 208, 134, 0.5);
  width: 100%;
  height: 100vh;
  z-index: 500;
}

.info-screen {
  position: relative;
  background-color: transparent;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}

.info-msg {
  @include box-shadow-helper(2);
  background-color: white;
  width: 40%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);

  .info-title {
    padding: 10px 10px;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: green;
    border-bottom: 1px solid rgba(19, 161, 19, 0.3);
  }

  .message {
    width: 100%;
    height: 200px;
    display: flex;
    padding: 0 50px;
    align-items: center;
    text-align: justify;
    color: green;
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: 400;
  }

}

.app-main {
  @include box-shadow-helper(2);
  display: block;
  width: 80%;
  position: relative;
  margin: 0 auto;
  background-color: white;
}

.small-bar {
  background-color: green;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  flex-direction: row;


  .info {
    align-self: center;
    display: flex;
    align-items: center;
    padding: 0 10px;
    color: white;
    font-size: 14px;
    margin-right: 10px;
    height: 100%;

    a {
      font-size: 14px;
      color: white;
      text-decoration: none;
    }
  }
}

.navbar {
  display: flex;
  height: 100px;
  justify-content: space-between;
}

.img-wrapper {
  display: flex;
  align-items: center;
  margin: 0 30px;
}

.app-menu {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.menu-item {
  list-style-type: none;
  display: flex;
  align-items: stretch;
  margin-right: 20px;

  .link {
    font-size: 14px;
    display: flex;
    font-weight: normal;
    align-items: center;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    border-bottom: 4px solid transparent;

    &.selected {
      font-weight: bold;
      color: green;
      border-bottom: 4px solid black;
    }

    &:hover {
      border-bottom: 4px solid gold;
      color: green;
    }
  }
}

.logo {
  height: 60px;
  width: auto;
}

.form-container {
  background-color: green;
  padding: 15vh 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-form {
  @include box-shadow-helper(2);
  background-color: #13a113;
  width: 40%;

  .form-title {
    padding: 10px 10px;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }

  .form-inside-container {
    padding: 10px 20px 40px 20px;
  }

  .form-label {
    display: block;
    width: 100%;
    color: white;
    font-size: 12px;
    padding: 15px 0 5px 0;
  }

  .checkbox-label {
    color: white;
    font-size: 12px;
    padding: 0 5px;
  }

  .checkbox-wrapper {
    width: 100%;
    padding: 8px 5px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    //margin-top: 15px;
  }

  .form-input {
    width: 100%;
    padding: 8px 5px;
    background-color: #13a113;
    border: 1px solid rgba(255, 255, 255, 0.3);
    outline: 0;
    color: white;

    &:focus {
      background-color: green;
    }
  }

  .button-wrapper {
    margin-top: 25px;
    width: 100%;
    display: flex;
    flex-flow: row-reverse;
  }

}

.list-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10vh;

}

.button {
  @include button-form();

  &.white {
    color: black;
    background-color: white;

    &:hover {
      background-color: #e3e0e0;
    }
  }

  &.green {
    color: white;
    background-color: green;

    &:hover {
      background-color: #037003;
    }

  }

  &.red {
    color: white;
    background-color: red;

    &:hover {
      background-color: #c20404;
    }

  }

}

.section-title {
  padding-top: 30px;
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 20px;
  padding-bottom: 20px;
}

.subtitle {
  font-weight: lighter;
  font-size: 13px;
  text-align: center;
  display: block;
  text-transform: none;
  position: relative;
  padding-top: 5px;
  padding-bottom: 20px;

  &::after {
    position: absolute;
    top: 30px;
    left: 50%;
    content: '';
    width: 30px;
    border-top: 3px solid black;
    transform: translateX(-50%);
  }
}

.btn-wrapper {
  width: 60%;
  text-align: left;
  padding: 30px 0;
}

.list-element {
  @include box-shadow-helper(1);
  margin-bottom: 30px;
  width: 60%;
  border: 1px solid whitesmoke;
}

.element-btn-wrapper {
  margin: 20px 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  column-gap: 10px;
}

.row {
  min-height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 10px;
  column-gap: 10px;

  .elem-label {
    flex: 1;
    font-size: 10px;
  }

  .elem-value {
    flex: 11;
    border: 1px solid whitesmoke;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    outline: 0;
  }

}

.uploaded-image {
  display: block;
  padding: 8px 5px;
  background-color: #13a113;
  max-width: 300px;
  height: auto;
  margin-bottom: 5px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  outline: 0;
}

.small-button {
  @include button-small;
}