@import "variables";
@import "./utils/fonts";
@import "mixins";

*,
html,
body {
  @include font-roboto;
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

.all {
  background-color: white;
}

.hide {
  display: none;
  visibility: hidden;
}
