@mixin font-roboto {
  font-family: 'Roboto', sans-serif;
}

@mixin button-form {
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 12px 25px;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
}

@mixin button-small {
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 12px;
  font-weight: normal;
  padding: 7px 16px;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
}
