<!DOCTYPE html>
<html>
<head>
    <title>kalafior.site</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="app-body">

<div class="loading-screen hide">
    <p class="loading-msg">
        {{ agent }}
    </p>


    {% if logged_in and login %}
    <p>Witaj {{login}} !</p>
    <a href="{{url_for('admin',logout='ok')}}">Wyloguj</a>

    {% else %}
    <form action="/admin" method="post">
        <label>Zaloguj się</label>
        <br>
        <input type="hidden" value="login_form" id="login_form" name="form_type">
        <label for="login">Login:</label><br>
        <input type="text" id="login" name="login" value=""><br>
        <label for="password">Hasło:</label><br>
        <input type="password" id="password" name="password" value=""><br><br>
        <input type="submit" value="zaloguj">
    </form>
    {% endif %}


</div>
</body>
</html>